<div class="container-fluid">
    <div style="position:fixed;margin-top:70px;">
        <h3 style="text-align:center;">{{otherUser.name}}</h3>
    </div>
    <input id="otherUserId" type="text" value="{{otherUser._id}}" style="display: none;">
    <input id="currentUserId" type="text" value="{{currentUserId}}" style="display: none;">
    <div id="chatroom">
    </div>
     <form id="form" >
    <input type="text" name="message" id="message" placeholder="Type message ..." required>
    <button type="button" id="send-btn">Send</button>
    </form>
</div>
