<div class="container">
    <h1 class="green">Success</h1>
    <p class="green">Your request has been received</p>
    <h3>{{help.name}}</h3>
    <p>{{help.message}}</p>
    <p>{{getLastMinute help.date}}</p>
    <br>
    <a href="/help"><button class="btn btn-danger">Done</button></a>
</div>